.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 0;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
